<a href="https://colab.research.google.com/github/Ayeza-76/python-class-assignments/blob/main/class_assignmen_3t.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT#3

In [ ]:
                                                     #basic list operatons
#Append a new number in the list
numbers=[40,50,60,70,80]
numbers.append(90)
print(numbers)

[40, 50, 60, 70, 80, 90]

In [ ]:
#Extend a list with another list
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#Insert the string "python" at index 2
languages= ["java", "c++" ,"Javascript","Ruby"]
languages.insert(2,"python")
print(languages)

['java', 'c++', 'python', 'Javascript', 'Ruby']

In [ ]:
#Remove the first occurrence of the number 10
numbers=[10,20,30,10,40]
numbers.remove(10)
print(numbers)

[20, 30, 10, 40]

In [ ]:
#Use pop() method to remove the last element
numbers=[100,200,300,400]
numbers.pop()
print(numbers)

[100, 200, 300]

In [ ]:
                                 #Intermediate list operations
#count a specific number
numbers=[ 5,10, 5, 20, 5,30]
count_5= numbers.count(5)
print(count_5)

3

In [ ]:
#Sort the list in ascending and descending order
numbers=[7,5,8,9,4,2,0,6]
numbers.sort()
print("Ascending:", numbers)

Ascending: [0, 2, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers=[7,5,8,9,4,2,0,6]
numbers.sort(reverse =True)
print("Descending:", numbers)

Descending: [9, 8, 7, 6, 5, 4, 2, 0]

In [ ]:
# Reverse the list
fruits=["apple","mango","orange","grapes"]
fruits.reverse()
print(fruits)

['grapes', 'orange', 'mango', 'apple']

In [ ]:
# Create a copy of list and modify the copied list
orignai_list=[1,2,3,4,5,6]
copied_list=orignai_list.copy()
copied_list.append(7)
print("orignal_list:",orignai_list)
print("copied_list:",copied_list)

orignal_list: [1, 2, 3, 4, 5, 6]
copied_list: [1, 2, 3, 4, 5, 6, 7]

In [ ]:
#Clear all the elements of the list
cars=["alto","maira","toyota","mehran"]
cars.clear()
print(cars)

[]

In [ ]:
                                   #Tuple based queations
#Create a tuple with 5 different fruits and print the third fruit
fruits=["gava", "pear", "banana","watermelon","cherry"]
print(fruits[3])

watermelon

In [ ]:
# Convert a tuple in to a list,remove an element convert it back in to a tuple
numbers=(10,20,30,40,50)
numbers_list= list(numbers)
numbers_list.remove(40)
numbers=tuple(numbers_list)
print(numbers)

(10, 20, 30, 50)

In [ ]:
#Append an element in to a tuple
tuple1=("a","b","c")
tuple_list=list(tuple1)
tuple_list.append("d")
tuple1=tuple(tuple_list)
print(tuple1)

('a', 'b', 'c', 'd')

In [ ]:
#unpack tuple into variable
numbers=(100,200,300)
a,b,c=numbers
print(a)
print(b)
print(c)

100
200
300

In [ ]:
#Count the occurrences of 7
numbers=(7,1,7,3,7,5)
count_7=numbers.count(7)
print(count_7)

3